.a-read{
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
line-height: normal;
}
.arrow-icon{
    margin-left: 1vw;
    color: white;
    width: 24px;
    height: 24px;
}